<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xms.usercenter.mapper.UserMapper">

	<select id="selectUserById" parameterType="Long" resultType="User">
		select * from user where
		id = #{id}
	</select>

	<select id="selectUserByName" parameterType="String" resultType="User">
		select * from user
		where name = #{name}
	</select>

	<insert id="insertUser" parameterType="User" useGeneratedKeys="true"
		keyProperty="id">
		insert into User (name, age, address, features, gmt_create, gmt_modified)
		values
		(#{name}, #{age}, #{address}, #{features}, now(), now())
	</insert>

	<update id="updateUser">
		update User set
			gmt_modified = now()
			<if test="name != null">,name = #{name}</if>
			<if test="age != null">,age = #{age}</if>
			<if test="address != null">,address = #{address}</if>
			<if test="features != null">,features = #{features}</if>
		where id = #{id}
	</update>
</mapper>